/* Estlizando elementos do body**********************/

body{ font-family: "Roboto", serif; }
a { text-decoration: none; color: rgb(71, 69, 69);}
main{ display: flex;}

 /* Estlizando o HEADER, barra menu**********************/
.menu{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     height: 45px;
}
.item-search input{ align-items: center;}
.y-search{ width: 348px; height: 40px; border: solid 2px #CCCCCC; font-size: 18px;}
.buton-search{ 
     width: 57px; 
     height: 40px;
     background-image: url("../object/search.png"); 
     background-repeat: no-repeat;
     background-size: 50%;
     background-position: center;
     border: solid 2px #CCCCCC;
     margin-bottom: 30px;
     margin: -10px 0px 0px -10px;
}

/* Estlizando o Main - SIDEBAR ************************/
.col img{ object-fit: contain; }
.col a{ display: flex; width: 218px; }
.col h2 {
     font-family: Roboto;
     font-size: 14px;
     font-weight: 400;
     line-height: 26.41px;
     text-align: left;
     text-underline-position: from-font;
     text-decoration-skip-ink: none;
     margin-left: 5%;
}
.sidebar{
     width: 218px;     
     align-items: center;
}

/* Estlizando o Grid dos videos************************/

.container{
     grid: 100px 300px / auto-flow 200px;
     
}
.video-item{
    
     
}