body{
     margin: 0;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background: linear-gradient( 180deg, rgb(34,34,34) 0%, rgb(34,13,80) 30%, rgb(74,153,230) 100%);
}

.foguete{
     animation: decolagem-foguete 6s ease-in-out infinite alternate;
}

@keyframes decolagem-foguete{
     0%{
          transform: translateY(30vh);
     }
     50%{
          transform: translateY(-80vh);
     }
     100%{
          transform: translateY(30vh);
     }
}