/* FORMATAÇÃO DOS ELEMENTOS DO CORPO *******************************
*******************************************************************/
a  { text-decoration: none;}
ul { margin: 0; padding: 0;}
ul li{ list-style: none;}
p{ text-indent: 52px; text-align: justify;}
body{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: 300px repeat( 3, 300px);
     grid-template-areas: 
          "header header header header"
          "aside section section section"
          "aside article01 article02 article03"
          "aside footer footer footer"     
     ;
}
/* FORMATAÇÃO DOS ELEMENTOS DO HEADER *******************************
*******************************************************************/
.header,.siadebar,.section, .footer{ padding: 5%;}
.header{ grid-area: header; text-align: center; background-color: #21063f; color: rgb(248, 243, 145); }
.header h1{ font-size: 3rem; }

/* FORMATAÇÃO DOS ELEMENTOS DO SIDEBAR *******************************
*******************************************************************/
.sidebar{
     grid-area: aside;
     text-align: right;
     line-height: 250%;
     text-transform: uppercase;
     letter-spacing: 14px;     
}
.sidebar ul li{ border-bottom: solid 2px #410b7e; }
.sidebar ul li a:hover{ background-color: #21063f; color: rgb(248, 243, 145); padding: 3%;}

/* FORMATAÇÃO DOS ELEMENTOS DO SECTION *******************************
*******************************************************************/
.section{ 
     grid-area: section;
     background-color: #ceb9e7;
}
.section a:hover{ text-decoration: underline;}
.article01 { grid-area: article01; background-color: #410b7e; padding: 5%;}
.article02 { grid-area: article02; background-color: #410b7e; padding: 5%;}
.article03 { grid-area: article03; background-color: #410b7e; padding: 5%;}

#quadro{
     max-width: 100%; 
     object-fit: contain;       
     object-position: center;  
}

/* FORMATAÇÃO DOS ELEMENTOS DO FOOTER *******************************
*******************************************************************/
.footer{ grid-area: footer; background-color: #21063f; color: rgb(248, 243, 145);}
.footer p{ text-align: center; padding: 15% 0% 0% 0%; font-size: 22px;}