body{
     margin: 0;
     padding: 0;
     justify-items: center;
     display: grid;
     flex-wrap: wrap;
     min-width: 480px;
     max-width: 100%;
}

.container{    
     flex-wrap: wrap;
     min-width: 480px;
     border: 2px solid;
     display: grid;
     grid-template-columns: repeat(2, 10fr);
     grid-template-rows: repeat(3, 200px)
}

.item{
     flex-wrap: wrap;
     width: 800px;
     min-width: 480px;
     text-align: center;
     background-color: blueviolet;
}

.selected{
     background-color: aquamarine;
     grid-column: 2 / span 1;
     grid-row: 2 / span 1;
}